{
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"formatOnSave": true,
	"printWidth": 120,
	"bracketSpacing": true,
	"overrides": [
		{
			"files": "*.yml",
			"options": {
				"tabWidth": 2
			}
		},
		{
			"files": ["*.ts", "*.js"],
			"options": {
				"tabWidth": 4
			}
		}
	]
}
